@font-face {
    font-family: MyriadproR;
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}

body{
    margin: 0;
}

/* FUENTE */
* {
    font-family: MyriadproR;
    color: black;
    text-decoration: none;
}

/* header (funciones) */
.linea {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: white;
}

/* modificar el header */
.linea div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linea a {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.linea img {
    width: 2.1rem;
}

/* icono */
#settings {
    width: 20px;
}

/* icono */
#notification {
    width: 20px;
}

/* icono */
#IconPerfil {
    width: 3.3rem;
}

/* menu del perfil */
.menu1 {
    width: 6rem;
    gap: 1rem;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}

.add p {
    font-size: 40px;
}

.add img {
    width: 40px;
}

.crear{
    width: 46rem;
    font-size: 25px;
}

.crear h3{
    color: rgba(255, 114, 27, 1);
}

.reportar2{
    width: 49rem;
    font-size: 25px;
}

.reportar2 h3{
    color: rgba(255, 114, 27, 1);
}

.eliminar2{
    width: 46rem;
    font-size: 25px;
}

.eliminar2 h3{
    
    color: rgba(255, 114, 27, 1);
}

.contact{
    background-color: rgba(255, 114, 27, 1);
    width: 100vw;
    
}

.contact h3,
.p-2{
    text-align: center;
    font-size: 24px;
    color: white;
}

.contenedor{
    text-align: center;
    justify-content:space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.contact{
    overflow: hidden;
    margin-top: 4.32rem;
}