@font-face {
    font-family: MyriadproR;
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}
/* FUENTE */
* {
    font-family: MyriadproR;
    color: black;
    text-decoration: none;
}

/* header (funciones) */
.linea {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
}

/* modificar el header */
.linea div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linea a{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.linea img{
    width: 2.1rem;
}
/* icono */
#settings {
    width: 20px;
}
/* icono */
#notification {
    width: 20px;
}
/* icono */
#IconPerfil {   
    width: 3.3rem;
}
/* menu del perfil */
.menu1 {
    width: 6rem;
    gap: 1rem;
}

/* Titulo del panel */
.titulo {
    margin:2rem auto;
    text-align: center;
    font-size: 2.5rem;
}
.p1-1 {
    text-align: center;
    margin:1rem auto;
    font-size: 1.5rem;
}

/* Boton */
.indicadores{
    display: flex;
    justify-content: space-evenly;
    width: 96%;
}
.indicadores p{
    width: 11%;
    text-align: center;
    font-size: 1.5rem;
}
 #p2-5{
    width: 13%;
} 
#p2-2{
    width: 12%;
    padding-right: 1%;
}
#p2-6{
    padding-right: 1%;
}
/* LINEA DESCRIPTIVA 1 */
.Datos1 {
    border: 2px solid gray;
    width: 96%;
    height: 5rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}
.Datos1 p{
    width: 11%;
    text-align: center;
    font-size: 1.4rem;
}
#Indicador {
    text-align: start;
    justify-content: start;
}
#Descripción {
    width: 12%;
    text-align: start;
    justify-content: start;
}
/* BOTON ANTES DE INTERACCION */
input{
    position: relative;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 41.3%;
    margin-top: 5%;
    width: 210px;
    height: 40px;
}
/* BOTON DESPUES DE LA INTERACCION */
input:hover{
    transition: 1.5s;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}
