@font-face {
    font-family: MyriadproR;
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: myriadProLight;
    src: url(../font/MyriadPro-Light.otf);
}
/* FUENTE */
* {
    font-family: MyriadproR;
    color: black;
    text-decoration: none;
    margin: 0%;
}
body{
    overflow-x: hidden;
    animation: bod 6s;
}
/* Bienvenida al usuario */
.pagina{
    margin: 0%;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
}
.principal{
    background-image: url(../img/pexels-pixabay-159400@2x.png);
    background-color: black;
    background-size:cover;
    background-position-x: center;
    animation: paginaAtras 6s;
    opacity: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.KarioB{
    width: 10vw;
    opacity: 0;
    animation: karB 6s;
}
.bienvenida{
    background-color: white;
    width: 65.5vw;
    max-width: 58.5rem;
    height: 34.3rem;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: bienvenidoB 6s;  
    opacity: 0;
}
.KarioL {
    width: 6.3rem;
}
.BienvenidoDN {
    font-size: 2.5rem;
    text-align: center;
    margin: rem 0;
}
.pedro {
    width: 7.3rem;
}
.nombre {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}
.userAdmin {
    font-size: 1.25rem;
    font-family: myriadProLight;
}
/* MENU PRINCIPAL */
.pagPrincipal {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: white;
    border: none;
    margin: 0%;
    animation: pagP 6s;
}
.linea {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
}
.linea div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linea a{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.linea img{
    width: 1.8rem;
}
.menuNaranja{
    display: none;
}
#menu1 {
    gap: 1rem;
    display: flex;
    justify-content: end;
    width: 12%;
    margin-right: 1%;
}
#settings {
    width: 20px;
}
#notification {
    width: 20px;
}
#IconPerfil {   
    width: 3.3rem;
}
/* Menu Responsive */

#checkMenu{
    display: none;
}
#checkMenu:checked ~ .lineaMenu{
    display: flex;
}

.lineaMenu {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: #f2f2f2;
    padding: 0 2rem;
    margin-top: -3px;
    display: none;
}
.lineaMenu div {
    display: flex;
    width: 9rem;
    align-items: center;
    justify-content: space-between;
}
.lineaMenu a{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 6rem;
}
.lineaMenu img{
    width: 1.8rem;
    display: no;
}
.menuHov:hover{
    border: 1px solid orange;
}

/* Menu del Perfil */
#checkPerfil:checked + .menuPerfil{
    display: flex;
}
.menuPerfil {
    position: absolute;
    flex-direction: column;
    width: 97%;
    display: flex;
    align-items: end;
    text-align: center;
    display: none;
}
.posicionMenuPerfil{
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 0.5rem;
    padding: 0 2vw;
}

.nombrePerfil {
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    border-bottom: 1px solid #969595ad;
    text-align: center;
}
.miPerfil {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.miPerfil:hover{
    transition: 0.2s;
    color: blue;
}
.cerrarSecion {
    cursor: pointer;
    transition: 0.2s;
}
.cerrarSecion:hover{
    transition: 0.2s;
    color: red;
}
/* Titulo */
.titulo {
    margin:2rem auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.p1-1 {
    text-align: center;
    margin:1rem auto;
    font-size: 1.5rem;
}
/* FUNCIONES */
.indicadores{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 0 0.5rem;
    padding-left: 2rem;
}
.indicadores p{
    width: 11%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}
#p2-1{
    text-align: start;
    width: 14%;
}
#p2-2{
    width: 14%;
    text-align: start;
}
#p2-5{
    width: 14%;
} 
#p2-6{
    padding-right: 1%;
}

@keyframes bienvenidoB {
    5%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}
@keyframes karB {
    65%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
}
@keyframes pagP {
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    96%{
        opacity: 1;
    }
}
@keyframes bod {
    0%{
        overflow-y: hidden;
    }
    96%{
        overflow-y: hidden;
    }
    96.000000001%{
        overflow-y: scroll;
    }
}
@keyframes paginaAtras {
    0%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    96%{
        opacity: 0;
    }
} 
.paneles{
    display: flex;
    align-items: center;
    margin: 0 0.5%;
}
.Datos1 {
    border: 2px solid gray;
    width: 92%;
    height: 5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0 0.5rem;
}
.Datos1 p{
    width: 11%;
    text-align: center;
    font-size: 1.4rem;
}
.Datos1 svg{
    width: 100%;
}
.Datos1 circle{
    fill: none;
    stroke: red;
    stroke-width: 10px;
    stroke-dasharray: 88 100;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50%;
    border-radius: 5rem;
}
.Datos1 span{
    position: absolute;
}
#circulo_green{
    stroke: #10ec18;
}
#circulo_orange{
    stroke: #ff9c04;
}
#Indicador {
    width: 14%;
    text-align: start;
    justify-content: start;
}
#Descripción {
    width: 14%;
    text-align: start;
    justify-content: start;
}
.porcentaje{
    width: 11%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.labelP{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menuP{
    width: 2rem;
    object-fit: contain;
}
.panelMenu{
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    margin: 0 1%;
    width: 91.5%;
    overflow: hidden;
    display: none;
}
.panelesMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5%;
    width: 80%;
}
.indicadoresMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.indicadoresMenu p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    height: 4rem;
    border-bottom: #f2f2f2 2px solid;
}
#pM2-8{
    height: 9.5rem;
}
.Datos1Menu {
    width: 92%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0 0.5rem;
}
.Datos1Menu p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    height: 4rem;
    border-bottom: #f2f2f2 2px solid;
}
.Datos1Menu div{
    width: 100%;
}
.Datos1Menu svg{
    border-bottom: #f2f2f2 2px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Datos1Menu circle{
    fill: none;
    stroke: red;
    stroke-width: 10px;
    stroke-dasharray: 88 100;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50%;
    border-radius: 5rem;
}
.Datos1Menu span{
    position: absolute;
}
.porcentajeM{
    width: 11%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=radio],input[type=checkbox]{
    display: none;
}
#selecPanel1:checked + .panelMenu{
    display: flex;
}
#selecPanel2:checked + .panelMenu{
    display: flex;
}
#selecPanel3:checked + .panelMenu{
    display: flex;
}
#selecPanel4:checked + .panelMenu{
    display: flex;
}
#selecPanel5:checked + .panelMenu{
    display: flex;
}
#selecPanel6:checked + .panelMenu{
    display: flex;
}
/* BOTON FINAL */
.final{
    display: flex;
    justify-content: center;
}
.button5{
    background-color: #FF721B;
    color: #f2f2f2;
    border: none;
    width: 20rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button5:hover{
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid #b44500;
}

@media only screen  and (max-width:1500px){
    .menuPerfil{
        width: 100%;
    }
}
@media only screen  and (max-width:1200px){
    .indicadores p{
        font-size: 1rem;
    }
    #Indicador{
        width: 21%;
    }
    .Datos1 p{
        font-size: 1rem;
    }
    .titulo {
        font-size: 2rem;
    }
    .p1-1 {
        font-size: 1.2rem;
    }
    
}
@media only screen  and (max-width:950px){
    .menuNaranja{
        display: flex;
    }
    .linea div{
        display: none;
    }
    .linea{
        justify-content: space-between;
    }
    #menu1{
        display: flex;
    }
    
}
@media only screen  and (max-width:800px){
    #p2-7{
        display: none;
    }
    #p2-8{
        display: none;
    }
    .Frecuencia {
        display: none;
    }
    .porcentaje {
        display: none;
    }
}
@media only screen  and (max-width:655px){
    #p2-3{
        display: none;
    }
    #p2-4{
        display: none;
    }
    #p2-5{
        display: none;
    }
    .FechaInicio {
        display: none;
    }
    .FechaTeminacion {
        display: none;
    }
    .Categoría {
        display: none;
    }
    .KarioL {
        width: 4rem;
    }
    .BienvenidoDN{
        font-size: 1.8rem;
    }
    .nombre{
        font-size: 1.3rem;
    }
    .userAdmin {
        font-size: 1rem;
    }
    .bienvenida{
        height: 27rem;
    }
}
@media only screen  and (max-width:500px){
    #p2-6{
        display: none;
    }
    #p2-9{
        display: none;
    }
    .Formula {
        display: none;
    }
    .Area {
        display: none;
    }
    #p2-2 {
        width: 21%;
    }
    .indicadores{
        justify-content: space-around;
    }
    .pedro{
        width: 3rem;
    }
    #Indicador {
        width: 44%;
    }
    #Descripción{
        width: 43%;
    }
    #p2-1{
        width: 44%;
    }
    #p2-2{
        width: 43%;
    }
}