*{
    margin: 0%;
}
body{
    background-color: black;
}
.principal{
    background-image: url(../img/pexels-pixabay-159400@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Kario {
    width: 10vw;
}
